<%- include("../partials/headerSistema") %>
    <!-- Begin page -->
    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <%- include("../partials/sidebarSistema") %>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <!-- Topbar Start -->
                    <%- include("../partials/topbarSistema") %>
                        <!-- end Topbar -->

                        <!-- Start Content-->
                        <div class="container-fluid">

                            <!-- start page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-title-box">
                                        <div class="page-title-right">
                                            <ol class="breadcrumb m-0">
                                                <li class="breadcrumb-item"><a
                                                        href="http://localhost:3000/sistema/dashboard">Página
                                                        inicial</a>
                                                </li>
                                                <li class="breadcrumb-item"><a
                                                        href="http://localhost:3000/sistema/funcionarios">Funcionários</a>
                                                </li>
                                                <li class="breadcrumb-item active">Cadastrar Funcionários</li>
                                            </ol>
                                        </div>
                                        <h4 class="page-title">Funcionários - Cadastrar funcionário</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <!-- form start -->
                                            <form class="needs-validation" method="POST"
                                            action="<%= formAction %>" novalidate>
                                                <div class="row g-2">
                                                    <div class="mb-3 col-md-6">
                                                        <label class="form-label"
                                                            for="validationCustom01">Nome do serviço<sup>*</sup> </label>
                                                        <input type="text" class="form-control" id="inputNome"
                                                            name="nomeServico" placeholder="Nome e Sobrenome do usuário"
                                                            value="<%= locals.formConteudo && formConteudo.nomeServico %>"
                                                            required>
                                                        <div class="invalid-feedback">
                                                            Coloque o nome do serviço.
                                                        </div>
                                                        <% if (locals.alertaErros && alertaErros.nomeServico) { %>
                                                            <span class="col-md-5 erroCadastro">
                                                                <%= alertaErros.nomeServico.msg%>
                                                            </span>
                                                        <% } %>
                                                    </div>
                                                
                                                    <div class="mb-3 col-md-6">
                                                        <label for="validationCustomUsername"
                                                            class="form-label">Tipo do serviço<sup>*</sup></label>
                                                        <div class="input-group has-validation">
                                                            <input type="text" class="form-control"
                                                                id="inputTipo" name="tipoServico"
                                                                aria-describedby="validationCustom02"
                                                                placeholder="Digite o tipo do serviço"
                                                                value="<%= locals.formConteudo && formConteudo.tipoServico %>"
                                                                required>
                                                            <% if (locals.alertaErros && alertaErros.tipoServico) { %>
                                                                <span class="col-md-5 erroCadastro">
                                                                    <%= alertaErros.tipoServico.msg%>
                                                                </span>
                                                                <% } %>
                                                        </div>
                                                    </div>
                                                
                                                
                                                    <div class="mb-3 col-md-6">
                                                        <label for="exampleInputEmail1" class="form-label">Valor do serviço<sup>*</sup></label>
                                                        <input type="text" class="form-control" id="inputValor"
                                                            name="valorServico" placeholder="Valor do serviço"
                                                            aria-describedby="validationCustom03"
                                                            value="<%= locals.formConteudo && formConteudo.valorServico %>"
                                                            required>
                                                        <div class="invalid-feedback">
                                                            Digite o valor do serviço.
                                                        </div>
                                                        <% if (locals.alertaErros && alertaErros.valorServico) { %>
                                                            <span class="col-md-5 erroCadastro">
                                                                <%= alertaErros.valorServico.msg%>
                                                            </span>
                                                            <% } %>
                                                    </div>
                                                
                                                    <div class="mb-3 col-md-6">
                                                        <label for="exampleInputPassword1"
                                                            class="form-label">Descrição <sup>*</sup></label>
                                                        <textarea name="descricaoServico" class="form-control" id="inputDescricao" rows="5" ></textarea>
                                                        <% if (locals.alertaErros && alertaErros.descricaoServico) { %>
                                                            <span class="col-md-5 erroCadastro">
                                                                <%= alertaErros.descricaoServico.msg%>
                                                            </span>
                                                        <% } %>
                                                    </div>
                                                
                                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                        <button class="btn btn-danger col-md-2 "
                                                            type="reset">Cancelar</button>
                                                
                                                        <button class="btn btn-primary col-md-2 " type="submit">
                                                            Cadastrar serviço
                                                        </button>
                                                    </div>
                                                
                                                
                                                </div>
                                            </form>
                                            <!-- form end -->


                                        </div> <!-- end card-body-->
                                    </div> <!-- end card-->
                                </div> <!-- end col -->
                            </div>

                        </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Start -->
                <%- include("../partials/footerSistema") %>