<%- include("../partials/headerSistema") %>
    <!-- Begin page -->
    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <%- include("../partials/sidebarSistema") %>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <!-- Topbar Start -->
                    <%- include("../partials/topbarSistema") %>
                        <!-- end Topbar -->

                        <!-- Start Content-->
                        <div class="container-fluid">

                            <!-- start page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-title-box">
                                        <div class="page-title-right">
                                            <ol class="breadcrumb m-0">
                                                <li class="breadcrumb-item"><a href="/sistema/dashboard">Página
                                                        inicial</a>
                                                </li>
                                                <li class="breadcrumb-item"><a href="/sistema/clientes">Funcionários</a>
                                                </li>
                                                <li class="breadcrumb-item active">
                                                    Cadastrar funcionários
                                                </li>
                                            </ol>
                                        </div>
                                        <h4 class="page-title">Funcionários - Cadastrar Funcionários</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <!-- form start -->
                                            <form class="needs-validation" method="POST" action="<%= formAction %>"
                                                enctype="multipart/form-data" novalidate>
                                                <div class="row g-2">
                                                    <div class="mb-3 col-md-6">
                                                        <label class="form-label" for="validationCustom01">Nome
                                                        <sup>*</sup> </label>
                                                        <input type="text" class="form-control" id="validationCustom01"
                                                            name="nome" placeholder="Nome do funcionário"
                                                            value="<%= locals.formConteudo && formConteudo.nome %>"
                                                            required>
                                                            <div class="invalid-feedback">
                                                                Digite o nome do funcionário.
                                                            </div>
                                                        <% if (locals.alertaErros && alertaErros.nome) { %>
                                                            <span class="col-md-5 erroCadastro">
                                                                <%= alertaErros.nome.msg%>
                                                            </span>
                                                            <% } %>
                                                    </div>

                                                    <div class="mb-3 col-md-6">
                                                        <label class="form-label" for="validationCustom02">Função
                                                            <sup>*</sup></label>
                                                        <input type="text" class="form-control" id="validationCustom02"
                                                            name="nomeFuncao" placeholder="A função do funcionário."
                                                            value="<%= locals.formConteudo && formConteudo.nomeFuncao %>"
                                                            required>
                                                            <div class="invalid-feedback">
                                                                Digite a função do funcionário.
                                                            </div>
                                                        <% if (locals.alertaErros && alertaErros.nomeFuncao) { %>
                                                            <span class="col-md-5 erroCadastro">
                                                                <%= alertaErros.nomeFuncao.msg%>
                                                            </span>
                                                            <% } %>
                                                    </div>

                                                    <div class="mb-3 col-md-3">
                                                        <label class="form-label" for="validationCustom02">Salário
                                                            <sup>*</sup></label>
                                                        <input type="text" class="form-control" id="validationCustom02"
                                                            name="salario" placeholder="O salário do funcionário."
                                                            value="<%= locals.formConteudo && formConteudo.salario %>"
                                                            required>
                                                            <div class="invalid-feedback">
                                                                Digite o salário do funcionário.
                                                            </div>
                                                        <% if (locals.alertaErros && alertaErros.salario) { %>
                                                            <span class="col-md-5 erroCadastro">
                                                                <%= alertaErros.salario.msg%>
                                                            </span>
                                                            <% } %>
                                                    </div>

                                                    <div class="mb-3 col-md-3">
                                                        <label class="form-label"
                                                            for="validationCustom05">CEP<sup>*</sup></label>

                                                        <input type="text" class="form-control" data-toggle="input-mask"
                                                            data-mask-format="00000-000" id="cep"
                                                            name="cep" placeholder="Ex.: xxxxx-xxx"
                                                            value="<%= locals.formConteudo && formConteudo.cep %>" onblur="pesquisacep(this.value);"
                                                            required>
                                                            <div class="invalid-feedback">
                                                                Digite o cep.
                                                            </div>
                                                        <% if (locals.alertaErros && alertaErros.cep) { %>
                                                            <span class="col-md-5 erroCadastro">
                                                                <%= alertaErros.cep.msg%>
                                                            </span>
                                                            <% } %>
                                                    </div>

                                                    <div class="mb-3 col-md-6">
                                                        <label for="inputAddress" class="form-label"
                                                            for="validationCustom03">Logradouro<sup>*</sup></label>

                                                        <input type="text" class="form-control" id="rua"
                                                            name="logradouro" placeholder="Logradouro"
                                                            value="<%= locals.formConteudo && formConteudo.logradouro %>"
                                                            required>
                                                            <div class="invalid-feedback">
                                                                Digite o logradouro.
                                                            </div>
                                                        <% if (locals.alertaErros && alertaErros.endereco) { %>
                                                            <span class="col-md-5 erroCadastro">
                                                                <%= alertaErros.logradouro.msg%>
                                                            </span>
                                                            <% } %>
                                                    </div>

                                                    <div class="mb-3 col-md-3">
                                                        <label for="validationCustom03"
                                                            class="form-label">Número<sup>*</sup></label>

                                                        <input type="text" class="form-control" id="numero"
                                                            name="numero" placeholder="Número"
                                                            value="<%= locals.formConteudo && formConteudo.numero %>"
                                                            required>
                                                            <div class="invalid-feedback">
                                                                Digite o número.
                                                            </div>
                                                        <% if (locals.alertaErros && alertaErros.numero) { %>
                                                            <span class="col-md-5 erroCadastro">
                                                                <%= alertaErros.numero.msg%>
                                                            </span>
                                                            <% } %>
                                                    </div>

                                                    <div class="mb-3 col-md-3">
                                                        <label for="validationCustom03"
                                                            class="form-label">Complemento</label>

                                                        <input type="text" class="form-control" id="complemento"
                                                            name="complemento" placeholder="Complemento"
                                                            value="<%= locals.formConteudo && formConteudo.complemento %>"
                                                            >
                                                            <div class="invalid-feedback">
                                                                Digite o complemento.
                                                            </div>
                                                        <% if (locals.alertaErros && alertaErros.complemento) { %>
                                                            <span class="col-md-5 erroCadastro">
                                                                <%= alertaErros.complemento.msg%>
                                                            </span>
                                                            <% } %>
                                                    </div>

                                                    <div class="mb-3 col-md-2">
                                                        <label for="validationCustom03"
                                                            class="form-label">Bairro<sup>*</sup></label>

                                                        <input type="text" class="form-control" id="bairro"
                                                            name="bairro" placeholder="Bairro"
                                                            value="<%= locals.formConteudo && formConteudo.bairro %>"
                                                            required>
                                                            <div class="invalid-feedback">
                                                                Digite o bairro.
                                                            </div>
                                                        <% if (locals.alertaErros && alertaErros.bairro) { %>
                                                            <span class="col-md-5 erroCadastro">
                                                                <%= alertaErros.bairro.msg%>
                                                            </span>
                                                            <% } %>
                                                    </div>

                                                    <div class="mb-3 col-md-4">
                                                        <label for="validationCustom03"
                                                            class="form-label">Cidade<sup>*</sup></label>

                                                        <input type="text" class="form-control" id="cidade"
                                                            name="cidade" placeholder="Cidade"
                                                            value="<%= locals.formConteudo && formConteudo.cidade %>"
                                                            required>
                                                            <div class="invalid-feedback">
                                                                Digite a cidade.
                                                            </div>
                                                        <% if (locals.alertaErros && alertaErros.cidade) { %>
                                                            <span class="col-md-5 erroCadastro">
                                                                <%= alertaErros.cidade.msg%>
                                                            </span>
                                                            <% } %>
                                                    </div>

                                                    <div class="mb-3 col-md-2">
                                                        <label for="validationCustom03"
                                                            class="form-label">Estado<sup>*</sup></label>

                                                        <input type="text" class="form-control" id="uf"
                                                            name="uf" placeholder="Estado"
                                                            value="<%= locals.formConteudo && formConteudo.estado %>"
                                                            required>
                                                            <div class="invalid-feedback">
                                                                Digite o estado.
                                                            </div>
                                                        <% if (locals.alertaErros && alertaErros.estado) { %>
                                                            <span class="col-md-5 erroCadastro">
                                                                <%= alertaErros.estado.msg%>
                                                            </span>
                                                            <% } %>
                                                    </div>

                                                    <div class="mb-3 col-md-3">
                                                        <label class="form-label">País<sup>*</sup></label>

                                                        <input type="text" class="form-control" id="pais"
                                                            name="pais" placeholder="País"
                                                            value="<%= locals.formConteudo && formConteudo.pais %>" required>
                                                            <div class="invalid-feedback">
                                                                Digite o país.
                                                            </div>
                                                        <% if (locals.alertaErros && alertaErros.pais) { %>
                                                            <span class="col-md-5 erroCadastro">
                                                                <%= alertaErros.pais.msg%>
                                                            </span>
                                                            <% } %>
                                                    </div>

                                                    <div class="mb-3 col-md-2">
                                                        <label class="form-label" for="validationCustom07">Data de
                                                            Admissão<sup>*</sup></label>
                                                        <input type="text" class="form-control" id="validationCustom14"
                                                            name="dataAdmissao" data-toggle="input-mask"
                                                            data-mask-format="0000/00/00" placeholder="Ex.: AAAA/MM/DD"
                                                            value="<%= locals.formConteudo && formConteudo.dataAdmissao %>"
                                                            required>
                                                            <div class="invalid-feedback">
                                                                Digite a data de admissão do funcionário.
                                                            </div>
                                                        <% if (locals.alertaErros && alertaErros.dataAdmissao) { %>
                                                            <span class="col-md-5 erroCadastro">
                                                                <%= alertaErros.dataAdmissao.msg%>
                                                            </span>
                                                            <% } %>
                                                    </div>

                                                    <div class="mb-3 col-md-5">
                                                        <label for="example-fileinput" class="form-label">Foto do
                                                            Funcionário</label>
                                                        <input id="fotoFuncionario" name="fotoFuncionario"
                                                            class="form-control" accept=".jpg, .jpeg, .png, .webp"
                                                            type="file" multiple>
                                                    </div>

                                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                        <button class="btn btn-danger col-md-2 "
                                                            type="reset">Cancelar</button>

                                                        <button class="btn btn-primary col-md-2 " type="submit">
                                                            <%= buttonMessage %>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- form end -->
                                        </div> <!-- end card-body-->
                                    </div> <!-- end card-->
                                </div> <!-- end col -->
                            </div>

                        </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Start -->
                <%- include("../partials/footerSistema") %>