<%- include("../partials/headerSistema") %>
    <!-- Begin page -->
    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <%- include("../partials/sidebarSistema") %>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <!-- Topbar Start -->
                    <%- include("../partials/topbarSistema") %>
                        <!-- end Topbar -->

                        <!-- Start Content-->
                        <div class="container-fluid">

                            <!-- start page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-title-box">
                                        <div class="page-title-right">
                                            <ol class="breadcrumb m-0">
                                                <li class="breadcrumb-item"><a
                                                        href="http://localhost:3000/sistema/dashboard">Página
                                                        inicial</a>
                                                </li>
                                                <li class="breadcrumb-item"><a
                                                        href="http://localhost:3000/sistema/funcionarios">Funcionários</a>
                                                </li>
                                                <li class="breadcrumb-item active">Editar Funcionários</li>
                                            </ol>
                                        </div>
                                        <h4 class="page-title">Funcionários - Editar funcionário</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <!-- form start -->
                                            <form class="needs-validation" action="<%= formAction %>" method="POST" enctype="multipart/form-data"
                                                novalidate>
                                                <div class="row g-2"> 
                                                    <div class="mb-3 col-md-6">
                                                        <label class="form-label" for="validationCustom01">Nome
                                                            <sup>*</sup> </label>
                                                        <input type="text" class="form-control" id="validationCustom01"
                                                            name="nome" placeholder="Nome do funcionário"
                                                            value="<%= locals.formConteudo && formConteudo.nome %>"
                                                            required>
                                                        <% if (locals.alertaErros && alertaErros.nome) { %>
                                                            <span class="col-md-5 erroCadastro">
                                                                <%= alertaErros.nome.msg%>
                                                            </span>
                                                            <% } %>
                                                    </div>
 
                                                    <div class="mb-3 col-md-6">
                                                        <label for="inputAddress" class="form-label"
                                                            for="validationCustom03">Função<sup>*</sup></label>
                                                        <input type="text" class="form-control" id="validationCustom03"
                                                            name="nomeFuncao" placeholder="Função do funcionário" value="<%= locals.formConteudo && formConteudo.nomeFuncao %>" required>
                                                        <% if (locals.alertaErros && alertaErros.nomeFuncao) { %>
                                                            <span class="col-md-5 erroCadastro">
                                                                <%= alertaErros.nomeFuncao.msg%>
                                                            </span>
                                                        <% } %>
                                                    </div>

                                                    <div class="mb-3 col-md-3">
                                                        <label class="form-label" for="validationCustom02">Salário
                                                            <sup>*</sup></label>
                                                        <input type="text" class="form-control" id="validationCustom02"
                                                            name="salario" placeholder="Salário do funcionário." value="<%= locals.formConteudo && formConteudo.salario %>"
                                                            required>
                                                        <% if (locals.alertaErros && alertaErros.salario) { %>
                                                            <span class="col-md-5 erroCadastro">
                                                                <%= alertaErros.salario.msg%>
                                                            </span>
                                                            <% } %>
                                                    </div>

                                                    <div class="mb-3 col-md-6">
                                                        <label for="inputAddress" class="form-label"
                                                            for="validationCustom03">Logradouro<sup>*</sup></label>
                                                        <input type="text" class="form-control" id="validationCustom03"
                                                            name="logradouro" placeholder="Endereço do funcionário" value="<%= locals.formConteudo && formConteudo.endereco.logradouro %>" required>
                                                        <% if (locals.alertaErros && alertaErros.logradouro) { %>
                                                            <span class="col-md-5 erroCadastro">
                                                                <%= alertaErros.logradouro.msg%>
                                                            </span>
                                                        <% } %>
                                                    </div>

                                                    <div class="mb-3 col-md-3">
                                                        <label class="form-label" for="validationCustom05">Numero<sup>*</sup></label>
                                                        <input type="text" class="form-control" data-toggle="input-mask"
                                                             id="validationCustom05"
                                                            name="numero" placeholder="Numero" value="<%= locals.formConteudo && formConteudo.endereco.numero %>" required>
                                                        <% if (locals.alertaErros && alertaErros.numero) { %>
                                                                <span class="col-md-5 erroCadastro">
                                                                    <%= alertaErros.numero.msg%>
                                                                </span>
                                                        <% } %>
                                                    </div>

                                                    <div class="mb-3 col-md-3">
                                                        <label class="form-label" for="validationCustom05">Complemento<sup>*</sup></label>
                                                        <input type="text" class="form-control" data-toggle="input-mask"
                                                             id="validationCustom05"
                                                            name="complemento" placeholder="Complemento">
                                                    </div>

                                                    <div class="mb-3 col-md-2">
                                                        <label class="form-label" for="validationCustom05">Bairro<sup>*</sup></label>
                                                        <input type="text" class="form-control" data-toggle="input-mask"
                                                             id="validationCustom05"
                                                            name="bairro" placeholder="Bairro" value="<%= locals.formConteudo && formConteudo.endereco.bairro %>" required>
                                                        <% if (locals.alertaErros && alertaErros.bairro) { %>
                                                                <span class="col-md-5 erroCadastro">
                                                                    <%= alertaErros.bairro.msg%>
                                                                </span>
                                                        <% } %>
                                                    </div>

                                                    <div class="mb-3 col-md-4">
                                                        <label for="validationCustom03"
                                                            class="form-label">Cidade<sup>*</sup></label>
                                                        <input type="text" class="form-control" id="validationCustom03"
                                                            name="cidade" placeholder="Cidade" value="<%= locals.formConteudo && formConteudo.endereco.cidade %>" required>
                                                        <% if (locals.alertaErros && alertaErros.cidade) { %>
                                                            <span class="col-md-5 erroCadastro">
                                                                <%= alertaErros.cidade.msg%>
                                                            </span>
                                                        <% } %>
                                                    </div>

                                                    <div class="mb-3 col-md-3">
                                                        <label for="validationCustom04"
                                                            class="form-label">Estado<sup>*</sup></label>
                                                        <select id="validationCustom04" name="estado"
                                                            class="form-select"  required>
                                                            <option selected ><%= locals.formConteudo && formConteudo.endereco.estado %></option>
                                                            <option>AC</option>
                                                            <option>AL</option>
                                                            <option>AP</option>
                                                            <option>AM</option>
                                                            <option>BA</option>
                                                            <option>CE</option>
                                                            <option>DF</option>
                                                            <option>ES</option>
                                                            <option>GO</option>
                                                            <option>MA</option>
                                                            <option>MT</option>
                                                            <option>MS</option>
                                                            <option>MG</option>
                                                            <option>PA</option>
                                                            <option>PB</option>
                                                            <option>PR</option>
                                                            <option>PE</option>
                                                            <option>PI</option>
                                                            <option>RJ</option>
                                                            <option>RN</option>
                                                            <option>RS</option>
                                                            <option>RO</option>
                                                            <option>RR</option>
                                                            <option>SC</option>
                                                            <option>SP</option>
                                                            <option>SE</option>
                                                            <option>TO</option>
                                                        </select>
                                                        <% if (locals.alertaErros && alertaErros.estado) { %>
                                                            <span class="col-md-5 erroCadastro">
                                                                <%= alertaErros.estado.msg%>
                                                            </span>
                                                        <% } %>
                                                    </div>

                                                    <div class="mb-3 col-md-3">
                                                        <label class="form-label">País</label>
                                                        <input type="text" class="form-control" id="validationCustom03"
                                                            name="pais" placeholder="País"value="<%= locals.formConteudo && formConteudo.endereco.pais %>" required>
                                                            <% if (locals.alertaErros && alertaErros.pais) { %>
                                                                <span class="col-md-5 erroCadastro">
                                                                    <%= alertaErros.pais.msg%>
                                                                </span>
                                                            <% } %>
                                                    </div>

                                                    <div class="mb-3 col-md-2">
                                                        <label class="form-label" for="validationCustom05">CEP<sup>*</sup></label>
                                                        <input type="text" class="form-control" data-toggle="input-mask"
                                                            data-mask-format="00000-000" id="validationCustom05"
                                                            name="cep" placeholder="Ex.: xxxxx-xxx" value="<%= locals.formConteudo && formConteudo.endereco.cep %>" required>
                                                        <% if (locals.alertaErros && alertaErros.cep) { %>
                                                                <span class="col-md-5 erroCadastro">
                                                                    <%= alertaErros.cep.msg%>
                                                                </span>
                                                        <% } %>
                                                    </div>

                                                    <div class="mb-3 col-md-2">
                                                        <label class="form-label" for="validationCustom07">Data de
                                                            Admissão<sup>*</sup></label>
                                                        <input type="text" class="form-control" id="validationCustom07"
                                                            name="dataAdmissao" data-toggle="input-mask"
                                                            data-mask-format="0000/00/00" placeholder="Ex.: AAAA/MM/DD" value="<%= locals.formConteudo && formConteudo.dataAdmissao %>"
                                                            required>
                                                        <% if (locals.alertaErros && alertaErros.dataAdmissao) { %>
                                                            <span class="col-md-5 erroCadastro">
                                                                <%= alertaErros.dataAdmissao.msg%>
                                                            </span>
                                                        <% } %>
                                                    </div>

                                                    <div class="mb-3 col-md-2">
                                                        <label class="form-label">Data de Demissão</label>
                                                        <input type="text" class="form-control" data-toggle="input-mask"
                                                            data-mask-format="0000/00/00" name="dataDemissao"
                                                            placeholder="Ex.: AAAA/MM/DD"value="<%= locals.formConteudo && formConteudo.dataDemissao %>">
                                                    </div>

                                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                        <button class="btn btn-danger col-md-2 "
                                                            type="reset">Cancelar</button>

                                                        <button class="btn btn-primary col-md-2 "
                                                            type="submit">Atualizar</button>
                                                    </div>


                                                </div>
                                            </form>
                                            <!-- form end -->


                                        </div> <!-- end card-body-->
                                    </div> <!-- end card-->
                                </div> <!-- end col -->
                            </div>

                        </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Start -->
                <%- include("../partials/footerSistema") %>